* {
    line-height: 1.5 !important;
    letter-spacing: 0.10em !important;
    word-spacing: 0.10em !important;
}    
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
header, main, aside{
    width: 90%;
    margin: 0 auto;
}
a{
    color: #2C558C;
    text-decoration: none;
}
header{
    margin-top: 1em;
    padding-top: 10px;
}
header .logo{
    width: 100%;
    max-width: 500px;
}
header nav{
    font-size: 1.1em;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px #AAA solid;
    border-bottom: 1px #AAA solid;
}
header a{
    letter-spacing: .05em;
    font-weight: bold;
    padding: 3px;
}

main{
    width: 95%;
    margin: 0 auto;
}
main .microsoft-logo{
    width: 100%;
    max-width: 300px;
}
main h1, aside h1{
    font-weight: normal;
    color: #A32100;
}
main p, ul {
    font-size: 1.1em;
}
aside{
    border-top: 1px solid #AAA;
    margin-bottom: 2%;
}
aside .adv-img{
    max-width: 150px;
}
.container{
    display: grid;
    justify-items: center;
    border-top: 1px solid #AAA;
    margin-bottom: 3%;
}
.container h2{
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #AAA;
}
div .donate{
    display: block;
    width: 50%;
    padding: 3%;
    margin: 2% auto 5% auto;
    text-align: center;
    background-color: #2C558C;
    color: #FFF;
    font-weight: bold;
}
footer{
    background-color: #2C558C;
    color: #FFF;
    width: 100%;
}
footer .container{
    justify-items: normal;
    padding: 0px 10%;
}
footer hr{
    border: none;
    border-left: 1px solid #CCC;
    height: 50%;
    margin: auto;
}
footer h3{
    border-bottom: 1px solid #ccc;
    text-align: center;
}
footer a{
    color: #fac05b
}
footer ul{
    padding: 0;
}
footer ul li{
    list-style: none;
}
footer p{
    text-align: center;
    padding: 2%;
}

@media only screen and (min-width: 600px){
    header nav{
        font-size: 1.3em
    }
    main h1{
        font-size: 1.7em;
    }
    main p, ul{
        font-size: 1.5em;
    }
    aside .container{ 
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2%;
        
    }
}

@media only screen and (min-width: 1000px){
    header nav{
        font-size: 1.2em;
    }
    main h1{
        font-size: 1.5em;
    }
    main p, ul{
        font-size: 1em;
    }
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2%;
    }
    footer .container{
        grid-template-columns: 1fr 10px 1fr;
        grid-column-gap: 0;
        justify-items: center;
    }
}